.panel-container {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: relative;
	top: -82px;
}

.left-panel {
	float: left;
	height: 800px;
	overflow: scroll;
	background-color: #FFFFFF;
	width: 300px; 
}

.right-panel {
	float: right;
}

.left-panel,
.right-panel {
	position: relative;
	display: inline;
}

.left-panel ul,
.right-panel ul {
	list-style-type: none;
}

.left-panel ul li,
.right-panel ul li {
}

.left-panel ul li:hover,
.right-panel ul li:hover {
	cursor: pointer;
	color: red;
}

canvas#canvas {
	padding: 0 0 0 0;
	position: relative;
	display: inline;
	margin: 0 auto;
	width: 940px;
	height: 1024px;
	/*border: solid black 1px;*/
}

.panel-container {
	background-color: #0A1F3D;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	height: 840px;
}

td {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

